main{
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: start;
}
aside{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px ;
    gap: 20px;
}
.aside-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.aside-logo > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.aside-logo > div > h1{
    font-family: var(--text-title);    
    color: var(--primary);
    font-size: 28px;
}
.aside-logo > div > p{
    color: var(--text-secondary);
    font-family: var(--text-body);    
    text-transform: uppercase;
    font-weight: 500;
}
.aside-logo > img{
    width: 60px;
}
.aside-terminal{
    color: var(--text-secondary);
    font-family: var(--text-body);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-dark);
    box-shadow:0px 0px 10px var(--border);
    text-transform: uppercase;
    font-size: 14px;
}
.terminal-content > p >span{
    color:var(--primary-dead);
}
.terminal-content > p >span.terminal-status{
    color:var(--primary);
}
.terminal-title{
    color: var(--primary-dead);
    font-size: 14px;
}
.aside-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--primary-dark);
    font-family: var(--text-body);
    box-shadow:0px 0px 10px var(--border);

}
.aside-links > a{
    width: 100%;
    color: var(--text-secondary);
    text-transform: uppercase;
    text-decoration: none;
    
    text-align: start;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    transition: all .3s ease;
}
.aside-links > a:hover{
    background-color: #ffffff10;
}
.aside-links > a > i{
    font-size: 24px;
}
.aside-links > a.aside-link-active{
    color: var(--primary);
    background-color: var(--primary-transparent);
}
.aside-links > a.aside-logout:hover{
    color: var(--danger);
    background-color: var(--danger-transparent);
}
.aside-status{
    color: var(--text-secondary);
    font-family: var(--text-body);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-dark);
    box-shadow:0px 0px 10px var(--border);
    text-transform: uppercase;
    font-size: 14px;
}
.terminal-padlock{
    padding: 10px;
    border: 2px solid var(--primary);
    border-radius: 999px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0px 0px 10px var(--border);
    position: relative;
}
.terminal-padlock::after{
    content: '';
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 999px;
    border: 1px solid #00ff403f;
    position: absolute;
}
.terminal-padlock::before{
    content: '';
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    height: 90%;
    border-radius: 999px;
    border: 1px solid #00ff403f;
    position: absolute;
}
.terminal-padlock > i{
    padding: 10px;
    font-size: 28px;
    color: var(--primary);
    border: 1px solid var(--primary-dark);
    border-radius: 999px;
}
.terminal-content-padlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.padlock-content{
    display: flex;
    align-items:start;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 10px 0;
}
.padlock-content > h3{
    color: var(--primary-dead);
    font-weight: 400;
}
.padlock-content > span{
    color: var(--text-secondary);
    font-weight: 400;
}
.terminal-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    gap: 10px;
    color: var(--primary-dead);
}
.bar-loading{
    width: 100%;
    border: 1px solid var(--primary-dead);
    border-style: dashed;
}
.main-content{
    min-width: 0;
    width: 100%;
}

/* ASIDE + MAIN */

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    gap: 40px;
}
.header-search-bar{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 400px ;
    width: 100%;
}
.header-search-bar > button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: transparent;
    outline: none;
    border: none;
    color: var(--primary-dead);
    font-size: 20px;
    transition: all .3s ease;
}
.header-search-bar > button:hover{
    color: var(--primary);
}
.header-search-bar > input{
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    outline: none;
    font-family: var(--text-body);
    padding: 0 40px 0 10px;
    color: var(--text);
    transition: all .2s ease;
}
.header-search-bar > input::placeholder{
    color: var(--text-secondary);

}
.header-search-bar > input:focus{
    border-color: var(--primary);
}
.header-profile{
    border-radius: 999px;
    width: 35px;
    cursor: pointer;
    border: 1px solid var(--primary-dead);
    color: var(--primary-dead);
    height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;

    overflow: hidden;
    transition: all .2s ease;
    background: transparent;
}
.header-profile:hover{
    border-color: var(--primary);
    color: var(--primary);
}

section{
    padding: 10px 20px;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}





