



.wishlist-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    width: 100%;
    gap: 10px;
    align-items: start;
    justify-content: center;
    height: 100%;
}
.delete-washlist{
    display: none;
}
.delete-washlist.delete-show{
    display: block;
}
.wish-message{
    color: var(--text);
    font-family: var(--text-body);
    font-size: 30px;
    display: none;
    text-align: center;

}
.wish-message.wish-message-show{
    display: block;
}
@media (max-width:1000px) {
    .wish-message{
        height: 100vh;
    }
}